@model IEnumerable<IFM_ManufacturingExecutionSystems.Models.MVC.Line>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Line Management</h1>
<p class="text-danger">@ViewData["Message"]</p>
<p>
    <a class="btn btn-menu" asp-action="Create" data-toggle="modal" data-target="#add-popup"><i class="fas fa-plus" style="color:green;"></i>Add New Line</a>
</p>
@if (Model != null && Model.Count() > 0)
{
    <table class="table-sm table-bordered table-primary w-100">
        <thead>
            <tr>
                <th>
                    Line Code
                </th>
                <th>
                    Line Name
                </th>
                <th>
                    Update User
                </th>
                <th>
                    Update Time
                </th>
                <th>
                    Creator
                </th>
                <th>
                    Create Time
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.lineCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lineName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.updateUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.updateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.creator)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createTime)
                    </td>
                    <td>
                        @*<a asp-action="Details" asp-route-id="@item.lineID">Details</a> |*@
                        <button class="btn btn-menu" data-toggle="modal" data-target="#update-popup"
                                data-id="@item.lineID" data-code="@item.lineCode" data-name="@item.lineName">
                            <i class="fas fa-edit" style="color:blue;"></i>
                        </button> |
                        @*<a class="btn btn-menu" asp-action="Details" asp-route-id="@item.statusID">Details</a> |*@
                    <button class="btn btn-menu" data-toggle="modal" data-target="#delete-popup"
                            data-id="@item.lineID" data-code="@item.lineCode" data-name="@item.lineName">
                        <i class="fas fa-trash" style="color:red;"></i>
                    </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No have any line.</p>
}

<div id="add-popup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form asp-action="Create" method="post" class="modal-content rounded-lg shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title">Add new line</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Line Code</label>
                    <input name="lineCode" class="form-control input-bg" />
                </div>
                <div class="form-group">
                    <label class="control-label">Line Name</label>
                    <input name="lineName" class="form-control input-bg" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>
    </div>
</div>

<div id="update-popup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form asp-action="Edit" method="post" class="modal-content rounded-lg shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title">Update line</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="selected-status-id" type="hidden" name="deptID" />
                <div class="form-group">
                    <label class="control-label">Line Code</label>
                    <input id="selected-code" name="lineCode" class="form-control input-bg" />
                </div>
                <div class="form-group">
                    <label class="control-label">Line Name</label>
                    <input id="selected-name" name="lineName" class="form-control input-bg" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>
    </div>
</div>

<div id="delete-popup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form asp-action="Delete" method="post" class="modal-content rounded-lg shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title">Delete line</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="delete-id" type="hidden" name="id" />
                <p class="text-body">
                    Are you sure delete the line name:
                    <label class="text-danger" id="delete-name" /> ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Confirm</button>
            </div>
        </form>
    </div>
</div>

<script>
    $('#update-popup').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id') // Extract info from data-* attributes
        var code = button.data('code')
        var name = button.data('name')

        var modal = $(this)
        modal.find('#selected-id').val(id);
        modal.find('#selected-code').val(code);
        modal.find('#selected-name').val(name);
    })

    $('#delete-popup').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id') // Extract info from data-* attributes
        var name = button.data('name')

        var modal = $(this)
        modal.find('#delete-id').val(id);
        modal.find('#delete-name').text(name);
    })
</script>