@model dynamic;

@{
    ViewData["Title"] = "Roles Management";
    ViewData["AddPopupTitle"] = "Add New Role";
    ViewData["UpdatePopupTitle"] = "Update Role";
    ViewData["DeletePopupTitle"] = "Delete Role";
    string selectRolesOfGroup = string.Empty;
    List<IFM_ManufacturingExecutionSystems.Models.MVC.Role> roles = Model.roles;
    List<IFM_ManufacturingExecutionSystems.Models.MVC.Role> rolesInGroup =
        new List<IFM_ManufacturingExecutionSystems.Models.MVC.Role>();
}
@section Scripts{
    <script>
        $('#update-group-popup').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var roleGroupID = button.data('id') // Extract info from data-* attributes
            var roleGroupCode = button.data('code')
            var roleGroupName = button.data('name')
            var roles = button.data('roles')
            var modal = $(this)
            modal.find('#selected-group-id').val(roleGroupID);
            modal.find('#selected-roleGroupCode').val(roleGroupCode);
            modal.find('#selected-roleGroupName').val(roleGroupName);
            modal.find('#selected-roles').val(roles);
        })
        $('#update-role-popup').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var roleID = button.data('id') // Extract info from data-* attributes
            var roleCode = button.data('code')
            var roleName = button.data('name')
            var controlCode = button.data('control')
            var modal = $(this)
            modal.find('#selected-roleID').val(roleID);
            modal.find('#selected-roleCode').val(roleCode);
            modal.find('#selected-roleName').val(roleName);
            modal.find('#selected-controlCode').val(controlCode);
        })
        $('#delete-role-popup').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var roleID = button.data('id') // Extract info from data-* attributes
            var roleName = button.data('name')

            var modal = $(this)
            modal.find('#delete-id').val(roleID);
            modal.find('#delete-name').text(roleName);
        })
        $('#delete-group-popup').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var roleGroupID = button.data('id') // Extract info from data-* attributes
            var roleGroupName = button.data('name')

            var modal = $(this)
            modal.find('#delete-group-id').val(roleGroupID);
            modal.find('#delete-group-name').text(roleGroupName);
        })
        function addCheckRole() {
            var roles = document.getElementById('add-roles');
            var getRole = document.getElementsByName('addcheckroles');
            for (var i = 0; i < getRole.length; i++) {
                if (getRole[i].checked && !roles.value.includes(getRole[i].value)) {
                    if (roles.value === "") {
                        roles.value = getRole[i].value;
                    }
                    else {
                        roles.value += "," + getRole[i].value;
                    }
                }
                if (!getRole[i].checked && roles.value.includes(getRole[i].value)) {
                    roles.value.repalce(getRole[i].value, "");
                }
            }
        }
        function upCheckRole() {
            var roles = document.getElementById('selected-roles');
            var getRole = document.getElementsByName('upcheckroles');
            for (var i = 0; i < getRole.length; i++) {
                if (getRole[i].checked && !roles.value.includes(getRole[i].value)) {
                    if (roles.value === "") {
                        roles.value = getRole[i].value;
                    }
                    else {
                        roles.value += "," + getRole[i].value;
                    }
                }
                if (!getRole[i].checked && roles.value.includes(getRole[i].value)) {
                    roles.value = roles.value.replace(getRole[i].value, "");
                }
            }
        }
    </script>
}
<h1>@ViewData["Title"]</h1>
<p class="text-danger">@ViewData["Message"]</p>
<hr />
<div class="treeview w-100 border">
    <h6 class="pt-3 pl-3 text-center">Role Groups</h6>
    <hr />
    <a class="btn btn-menu" asp-action="CreateRoleGroup" data-toggle="modal" data-target="#add-group-popup">
        <i class="fas fa-plus" style="color:green;"></i>Add new role group
    </a>
    @if (Model.roleGroups != null && Model.roleGroups.Count > 0)
    {
        <ul class="list-group">
            @foreach (IFM_ManufacturingExecutionSystems.Models.MVC.RoleGroup group in Model.roleGroups)
            {
                selectRolesOfGroup = group.roles;
                rolesInGroup = roles.Where(x => group.roles.Contains(x.roleCode)).ToList();
                <li class="list-group-item list-group-item-action">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#@group.roleGroupCode"
                            aria-controls="@group.roleGroupCode" aria-expanded="true">
                        <i class="fas fa-angle-right rotate"></i>
                    </button>
                    <span>@group.roleGroupName</span>
                    <button class="btn btn-menu" data-toggle="modal" data-target="#update-group-popup"
                            data-id="@group.roleGroupID"
                            data-code="@group.roleGroupCode"
                            data-name="@group.roleGroupName"
                            data-roles="@group.roles">
                        <i class="fas fa-edit" style="color:blue;"></i>
                    </button> |
                    <button class="btn btn-menu" data-toggle="modal" data-target="#delete-group-popup"
                            data-id="@group.roleGroupID"
                            data-code="@group.roleGroupCode"
                            data-name="@group.roleGroupName"
                            data-roles="@group.roles">
                        <i class="fas fa-trash" style="color:red;"></i>
                    </button>
                    @if (!string.IsNullOrEmpty(group.roles) && rolesInGroup.Count > 0)
                    {
                        <ul class="nested list-group collapse" id="@group.roleGroupCode">
                            @foreach (IFM_ManufacturingExecutionSystems.Models.MVC.Role role in rolesInGroup)
                            {
                                <li class="list-group-item">
                                    <span>@role.roleName</span>
                                </li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>No role is exist.</p>
                    }
                </li>
            }
        </ul>
    }
    else
    {
        <p>No role group is exist.</p>
    }
</div>

<div class="w-100 border">
    <h6 class="pt-3 pl-3 text-center">Roles</h6>
    <hr />
    @if (Model.roles != null && Model.roles.Count > 0)
    {
        <table id="dgv-main" class="table table-striped table-bordered table-sm table-hover w-100" cellspacing="0" width="100%">
            <thead class="text-center">
                <tr>
                    <th class="th-sm">Role Code</th>
                    <th class="th-sm">Role Name</th>
                    <th class="th-sm">Control Code</th>
                    <th class="th-sm">Update User</th>
                    <th class="th-sm">Update Time</th>
                    <th class="th-sm">Creator</th>
                    <th class="th-sm">Create Time</th>
                    <th>
                        <a class="btn btn-menu" asp-action="CreateRole" data-toggle="modal" data-target="#add-role-popup">
                            <i class="fas fa-plus" style="color:green;"></i>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (IFM_ManufacturingExecutionSystems.Models.MVC.Role item in Model.roles)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.roleCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.roleName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.controlCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.updateUser)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.updateTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.creator)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.createTime)
                        </td>
                        <td>
                            <button class="btn btn-menu" data-toggle="modal" data-target="#update-role-popup"
                                    data-id="@item.roleID"
                                    data-code="@item.roleCode"
                                    data-name="@item.roleName"
                                    data-control="@item.controlCode">
                                <i class="fas fa-edit" style="color:blue;"></i>
                            </button> |
                            <button class="btn btn-menu" data-toggle="modal" data-target="#delete-role-popup"
                                    data-id="@item.roleID"
                                    data-code="@item.roleCode"
                                    data-name="@item.roleName"
                                    data-control="@item.controlCode">
                                <i class="fas fa-trash" style="color:red;"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No have any users.</p>
        <a class="btn btn-menu" asp-action="CreateRole" data-toggle="modal" data-target="#add-role-popup">
            <i class="fas fa-plus" style="color:green;"></i>Add New Role
        </a>
    }
</div>

<div id="add-group-popup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form asp-action="CreateRoleGroup" method="post" class="modal-content rounded-lg shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title">Add New Role Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Group Code</label>
                        <input class="form-control input-bg" name="roleGroupCode" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Group Name</label>
                        <input class="form-control input-bg" name="roleGroupName" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Roles</label>
                        <input id="add-roles" type="hidden" name="roles" />
                        @if (roles != null && roles.Count > 0)
                        {
                            @foreach (IFM_ManufacturingExecutionSystems.Models.MVC.Role role in roles)
                            {
                                <input type="checkbox" name="addcheckroles" value="@role.roleCode" onclick="addCheckRole()" />@role.roleName<br />
                            }
                        }
                        else
                        {
                            <p>No role is exist.</p>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>
    </div>
</div>
<div id="add-role-popup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form asp-action="CreateRole" method="post" class="modal-content rounded-lg shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title">@ViewData["AddPopupTitle"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3 class="text-center">Role</h3>
                <div class="form-group">
                    <label class="control-label">Role Code</label>
                    <input class="form-control input-bg" name="roleCode" />
                </div>
                <div class="form-group">
                    <label class="control-label">Role Name</label>
                    <input class="form-control input-bg" name="roleName" />
                </div>
                <div class="form-group">
                    <label class="control-label">Control</label>
                    <select class="form-control input-bg" name="controlCode">
                        @foreach (IFM_ManufacturingExecutionSystems.Models.MVC.Control control in Model.controls)
                        {
                            <option value="@control.controlCode">@control.controlName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>
    </div>
</div>
<div id="update-group-popup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form asp-action="EditRoleGroup" method="post" class="modal-content rounded-lg shadow-lg">
            <div class="modal-header">
                <h4 class="modal-titles">Update Role Group</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body row">
                <div class="col-md-6">
                    <input id="selected-group-id" type="hidden" name="roleGroupID" />
                    <div class="form-group">
                        <label class="control-label">Group Code</label>
                        <input class="form-control input-bg" name="roleGroupCode" id="selected-roleGroupCode" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Group Name</label>
                        <input class="form-control input-bg" name="roleGroupName" id="selected-roleGroupName" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Roles</label>
                        <input id="selected-roles" type="hidden" name="roles" />
                        @if (roles != null && roles.Count > 0)
                        {
                            @foreach (IFM_ManufacturingExecutionSystems.Models.MVC.Role role in roles)
                            {
                                if (selectRolesOfGroup.Contains(role.roleCode))
                                {
                                    <input type="checkbox" name="upcheckroles" value="@role.roleCode" onclick="upCheckRole()" checked />@role.roleName<br />
                                }
                                else
                                {
                                    <input type="checkbox" name="upcheckroles" value="@role.roleCode" onclick="upCheckRole()" />@role.roleName<br />
                                }
                            }
                        }
                        else
                        {
                            <p>No role is exist.</p>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>
    </div>
</div>
<div id="update-role-popup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form asp-action="EditRole" method="post" class="modal-content rounded-lg shadow-lg">
            <div class="modal-header">
                <h4 class="modal-titles">@ViewData["UpdatePopupTitle"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="selected-id" type="hidden" name="roleID" />
                <div class="form-group">
                    <label class="control-label">Role Code</label>
                    <input class="form-control input-bg" name="roleCode" id="selected-roleCode" />
                </div>
                <div class="form-group">
                    <label class="control-label">Role Name</label>
                    <input class="form-control input-bg" name="roleName" id="selected-roleName" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
            </div>
        </form>
    </div>
</div>
<div id="delete-role-popup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form asp-action="DeleteRole" method="post" class="modal-content rounded-lg shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title text-center">@ViewData["DeletePopupTitle"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="delete-id" type="hidden" name="id" />
                <p class="text-body">
                    Are you sure delete the role:
                    <label class="text-danger" id="delete-name" /> ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Confirm</button>
            </div>
        </form>
    </div>
</div>
<div id="delete-group-popup" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form asp-action="DeleteRoleGroup" method="post" class="modal-content rounded-lg shadow-lg">
            <div class="modal-header">
                <h4 class="modal-title text-center">@ViewData["DeletePopupTitle"]</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="delete-group-id" type="hidden" name="id" />
                <p class="text-body">
                    Are you sure delete the role:
                    <label class="text-danger" id="delete-group-name" /> ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-danger">Confirm</button>
            </div>
        </form>
    </div>
</div>